/MmorpgAuthServer
/GnosisRealmServer/GnosisRealmServer/obj
/Gnosis Master Hub/.vs
/Gnosis Master Hub/Gnosis Master Hub/bin
/Gnosis Master Hub/Gnosis Master Hub/obj
/Gnosis Master Hub/Gnosis Master Hub/Properties
/Gnosis Node Agent/.vs
/Gnosis Node Agent/GnosisNodeAgent/bin
/Gnosis Node Agent/GnosisNodeAgent/obj
/Gnosis Node Agent/GnosisNodeAgent/Properties
/GnosisAuthServer/.vs
/GnosisAuthServer/GnosisAuthServer/bin
/GnosisAuthServer/GnosisAuthServer/obj
/GnosisRealmServer/.vs
/GnosisRealmServer/GnosisRealmServer/.vs
/GnosisRealmServer/GnosisRealmServer/bin
/GnosisRealmServer
/GnosisAuthServer/GnosisAuthServer/Properties
