/MmorpgAuthServer
/GnosisRealmServer/GnosisRealmServer/obj
/Gnosis Master Hub
/Gnosis Node Agent/.vs
/Gnosis Node Agent/GnosisNodeAgent/bin
/Gnosis Node Agent/GnosisNodeAgent/obj
/Gnosis Node Agent/GnosisNodeAgent/Properties
/GnosisAuthServer/.vs
/GnosisAuthServer/GnosisAuthServer/bin
/GnosisAuthServer/GnosisAuthServer/obj
/GnosisRealmServer/.vs
/GnosisRealmServer/GnosisRealmServer/.vs
/GnosisRealmServer/GnosisRealmServer/bin
/GnosisAuthServer/GnosisAuthServer/Properties
